#WhatsApp Analysis
This notebook was used to extract info from whatsapp chats.

## Importation of Libraries

In [ ]:
import pandas as pd
import regex as re
import numpy as np
from matplotlib import pyplot as plt
import seaborn as sns
import warnings
warnings.filterwarnings('ignore')

## Reading in the raw text file

In [ ]:
def read_file(file):
    '''Reads Whatsapp text file into a list of strings'''
    x = open(file,'r', encoding = 'utf-8') #Opens the text file into variable x but the variable cannot be explored yet
    y = x.read() #By now it becomes a huge chunk of string that we need to separate line by line
    content = y.splitlines() #The splitline method converts the chunk of string into a list of strings
    return content

In [ ]:
chats=read_file('/content/drive/MyDrive/Untitled Folder 1/WhatsApp Chat with DSN FUNAAB.txt')

## Joining split lines and seperating them as sentences

In [ ]:
msgs=[]
pos=0
for line in chats:
    if re.findall("\A\d+[/]", line) and len(line.split('/'))>2 and len(line.split(' - '))>1:
        msgs.append(line)
        pos += 1
    else:
         take = msgs[pos-1] + ". " + line
         msgs.append(take)
         msgs.pop(pos-1)
len(msgs)

9121

## Seperating notifications from messages
Notifs(notification) includes all info about joining, leaving, security code changed,etc...

In [ ]:
notifs = [line for line in msgs if len(line.split(':'))==2]
messages = [line for line in msgs if len(line.split(':'))>2]

## Defining function to extract date and time from chats
This function extracts date and time from messages and notifications, creates and returns a corresponding dataframe with date,time and raw columns

In [ ]:
def extract_date_time(msgs):
  time = [msgs[i].split(',')[1].split('-')[0] for i in range(len(msgs))]
  time = [s.strip(' ') for s in time]
  date = [msgs[i].split(',')[0] for i in range(len(msgs))]
  main = [msgs[i].split('-')[1] for i in range(len(msgs))]
  return pd.DataFrame(zip(date,time,main),columns=['date','time','raw'])

## Extracting **'Added DF'**
Added_df contains all actions about people added to the group. It contains the name/number of the adder, the name/number of the subject,the time and date action occurred

In [ ]:
added_notif = [line for line in notifs if  "added" in ' '.join(line.split(' ')[:-1]) ]
added_df = extract_date_time(added_notif)
added_df['By'] = added_df['raw'].apply(lambda x: x.split(' added ')[0])
added_df['Subject'] = added_df['raw'].apply(lambda x: x.split(' added ')[1])
added_df

,date,time,raw,By,Subject
0,10/5/21,17:23,Busayor added +234 912 400 4325,Busayor,+234 912 400 4325
1,10/20/21,11:09,Stevekola added +234 906 171 9719,Stevekola,+234 906 171 9719
2,10/23/21,20:21,Busayor added +234 706 608 5576,Busayor,+234 706 608 5576
3,10/27/21,13:23,Busayor added Simi_Ai,Busayor,Simi_Ai
4,11/2/21,20:32,Busayor added +234 812 974 1366,Busayor,+234 812 974 1366
5,11/14/21,20:23,Mardiyyah added Oyeniji,Mardiyyah,Oyeniji
6,11/20/21,21:21,Stevekola added +234 905 105 4526,Stevekola,+234 905 105 4526
7,11/20/21,21:24,Masturah added +234 706 173 3438,Masturah,+234 706 173 3438
8,11/28/21,21:25,Mardiyyah added Oluwadara Adepoju,Mardiyyah,Oluwadara Adepoju
9,12/11/21,21:20,Stevekola added Ibk,Stevekola,Ibk
10,12/12/21,22:57,Masturah added +234 817 912 0615,Masturah,+234 817 912 0615
11,12/13/21,10:33,Busayor added Bolarinwa,Busayor,Bolarinwa
12,12/14/21,13:05,Masturah added +234 807 962 9551,Masturah,+234 807 962 9551
13,2/25/22,17:32,Busayor added Adeoluwa,Busayor,Adeoluwa
14,2/25/22,18:06,Steven Kolawole added Shiloh,Steven Kolawole,Shiloh
15,2/26/22,23:13,Testys added +234 905 859 6159,Testys,+234 905 859 6159
16,3/5/22,01:27,Busayor added +234 903 313 3257,Busayor,+234 903 313 3257
17,3/9/22,20:14,Ghost Mac added +234 905 788 7506,Ghost Mac,+234 905 788 7506
18,3/12/22,12:14,Ghost Mac added +234 803 587 2243,Ghost Mac,+234 803 587 2243
19,3/18/22,12:26,Busayor added Fortunate,Busayor,Fortunate
20,4/9/22,19:45,Mardiyyah added Adekunle,Mardiyyah,Adekunle
21,4/22/22,20:11,Busayor added Owusu,Busayor,Owusu
22,4/25/22,20:57,Busayor added Bolaji ML,Busayor,Bolaji ML
23,5/12/22,14:32,Ghost Mac added Tolu,Ghost Mac,Tolu
24,5/14/22,21:30,Ghost Mac added +234 907 307 4923,Ghost Mac,+234 907 307 4923
25,5/25/22,11:18,Ghost Mac added +234 909 909 7424,Ghost Mac,+234 909 909 7424
26,7/2/22,11:43,Busayor added +234 818 397 4059,Busayor,+234 818 397 4059
27,9/16/22,19:30,Busayor added +234 912 400 4325,Busayor,+234 912 400 4325
28,9/24/22,17:01,Busayor added +234 907 086 6069,Busayor,+234 907 086 6069
29,9/28/22,15:28,Ghost Mac added Furqan Mte,Ghost Mac,Furqan Mte
30,12/9/22,09:18,You added Ⓙⓞⓢⓗ,You,Ⓙⓞⓢⓗ
31,1/22/23,19:52,You added Pharwhaz ML,You,Pharwhaz ML
32,2/9/23,18:37,Steven Kolawole added Adekunle Moses DS,Steven Kolawole,Adekunle Moses DS
33,2/24/23,00:11,You added Sikiru,You,Sikiru

## Extracting **'Joined DF'**
Joined_df contains all actions about people invited to the group. It contains  the name/number of the subject,the time, and the date the action occurred

In [ ]:
joined_notif = [line for line in notifs if "joined using" in line]
joined_df = extract_date_time(joined_notif)
joined_df['Subject'] = joined_df['raw'].apply(lambda x : x.split(' joined')[0])
joined_df

,date,time,raw,Subject
0,9/23/21,20:04,+234 816 455 5908 joined using this group's i...,+234 816 455 5908
1,9/24/21,23:08,+234 906 089 4766 joined using this group's i...,+234 906 089 4766
2,9/25/21,01:28,+234 908 679 7871 joined using this group's i...,+234 908 679 7871
3,9/25/21,04:39,obileyepeter_AI joined using this group's inv...,obileyepeter_AI
4,9/25/21,04:45,+234 903 090 2107 joined using this group's i...,+234 903 090 2107
5,9/25/21,04:47,HAKS🧙🏽‍♂️ joined using this group's invite link,HAKS🧙🏽‍♂️
6,9/25/21,05:29,+234 803 436 6411 joined using this group's i...,+234 803 436 6411
7,9/25/21,06:36,Lateef_Ai joined using this group's invite link,Lateef_Ai
8,9/25/21,07:07,Bolarinwa joined using this group's invite link,Bolarinwa
9,9/25/21,07:35,+234 814 826 6400 joined using this group's i...,+234 814 826 6400
10,9/25/21,07:49,+234 802 405 7418 joined using this group's i...,+234 802 405 7418
11,9/25/21,08:16,+234 903 442 2808 joined using this group's i...,+234 903 442 2808
12,9/25/21,08:22,+234 813 215 7321 joined using this group's i...,+234 813 215 7321
13,9/25/21,08:52,+234 703 793 0636 joined using this group's i...,+234 703 793 0636
14,9/25/21,09:27,+234 906 458 8083 joined using this group's i...,+234 906 458 8083
15,9/25/21,10:17,+234 906 960 0339 joined using this group's i...,+234 906 960 0339
16,9/25/21,10:58,Dolapo joined using this group's invite link,Dolapo
17,9/25/21,11:15,+234 901 236 3346 joined using this group's i...,+234 901 236 3346
18,9/25/21,11:35,Bro Joseph joined using this group's invite link,Bro Joseph
19,9/25/21,11:45,+234 814 197 0286 joined using this group's i...,+234 814 197 0286
20,9/25/21,15:23,+234 813 365 7612 joined using this group's i...,+234 813 365 7612
21,10/22/21,15:09,+234 906 313 2836 joined using this group's i...,+234 906 313 2836
22,10/22/21,15:20,+234 903 058 8756 joined using this group's i...,+234 903 058 8756
23,10/22/21,15:28,+234 807 684 8399 joined using this group's i...,+234 807 684 8399
24,10/22/21,15:32,Fire Breather joined using this group's invit...,Fire Breather
25,10/22/21,16:00,+234 814 596 2853 joined using this group's i...,+234 814 596 2853
26,10/22/21,16:08,+234 811 272 5224 joined using this group's i...,+234 811 272 5224
27,11/4/21,13:52,+234 818 889 0653 joined using this group's i...,+234 818 889 0653
28,11/16/21,20:51,+234 706 926 4849 joined using this group's i...,+234 706 926 4849
29,11/17/21,07:23,Lord_sk_AI joined using this group's invite link,Lord_sk_AI
30,2/26/22,17:45,+234 805 837 3976 joined using this group's i...,+234 805 837 3976
31,3/11/22,19:20,+234 907 851 5926 joined using this group's i...,+234 907 851 5926
32,3/21/22,11:55,+234 810 542 1912 joined using this group's i...,+234 810 542 1912
33,4/8/22,21:05,+234 810 826 9465 joined using this group's i...,+234 810 826 9465
34,4/8/22,22:11,+234 815 791 4902 joined using this group's i...,+234 815 791 4902
35,4/24/22,07:59,+234 806 698 7588 joined using this group's i...,+234 806 698 7588
36,5/5/22,16:01,+234 905 944 5666 joined using this group's i...,+234 905 944 5666
37,5/14/22,21:45,+234 803 661 2843 joined using this group's i...,+234 803 661 2843
38,5/22/22,15:05,+234 818 608 7081 joined using this group's i...,+234 818 608 7081
39,6/2/22,12:51,+234 703 936 5725 joined using this group's i...,+234 703 936 5725
40,8/19/22,09:56,+234 907 176 9616 joined using this group's i...,+234 907 176 9616
41,8/23/22,23:54,Lawal Habeeb DS joined using this group's inv...,Lawal Habeeb DS
42,10/13/22,18:08,+234 908 003 6343 joined using this group's i...,+234 908 003 6343
43,11/13/22,09:24,+234 805 077 1951 joined using this group's i...,+234 805 077 1951
44,11/16/22,16:09,+234 706 964 7487 joined using this group's i...,+234 706 964 7487
45,11/23/22,18:13,Ehuike ML joined using this group's invite link,Ehuike ML
46,1/8/23,15:08,+234 705 731 5376 joined using this group's i...,+234 705 731 5376
47,2/12/23,15:24,+44 7577 516151 joined using this group's inv...,+44 7577 516151
48,2/14/23,08:19,+234 704 364 8560 joined using this group's i...,+234 704 364 8560
49,2/15/23,13:11,+234 815 876 2743 joined using this group's i...,+234 815 876 2743
50,2/28/23,08:25,Steven Kolawole joined using this group's inv...,Steven Kolawole
51,3/2/23,19:07,+234 706 604 0013 joined using this group's i...,+234 706 604 0013
52,3/2/23,19:08,+234 802 601 4224 joined using this group's i...,+234 802 601 4224
53,3/3/23,09:19,+234 810 228 0328 joined using this group's i...,+234 810 228 0328

## Extracting **'Left DF'**
Left_df contains all actions about people leaving the the group. It contains  the name/number of the subject,the time, and the date the member left

In [ ]:
left_notif = [line for line in notifs if line.endswith("left")]
left_df = extract_date_time(left_notif)
left_df['Subject'] = left_df['raw'].apply(lambda x: x.split(' left')[0])
left_df

       date   time                      raw             Subject
0  10/28/21  23:56   +234 906 171 9719 left   +234 906 171 9719
1  11/10/21  08:37              Dolapo left              Dolapo
2  12/10/21  10:21   +234 815 750 7335 left   +234 815 750 7335
3    1/3/22  20:02       Fire Breather left       Fire Breather
4   6/23/22  14:00   +234 906 949 7776 left   +234 906 949 7776
5  10/12/22  08:55   +234 818 397 4059 left   +234 818 397 4059
6   11/9/22  20:40                Ⓙⓞⓢⓗ left                Ⓙⓞⓢⓗ
7  11/24/22  06:33   +234 905 859 6159 left   +234 905 859 6159
8   2/27/23  10:18     Steven Kolawole left     Steven Kolawole

## Extracting **'Removed DF'**
Added_df contains all actions about people removed from the group. It contains the name/number of the *remover*, the name/number of the subject,the time and date the member was removed

In [ ]:
removed_notif =[line for line in notifs if "removed" in line]
removed_df = extract_date_time(removed_notif)
removed_df['By'] = removed_df['raw'].apply(lambda x: x.split(' removed ')[0])
removed_df['Subject'] = removed_df['raw'].apply(lambda x: x.split(' removed ')[1])
removed_df

,date,time,raw,By,Subject
0,12/12/21,22:25,Testys removed Ai 4,Testys,Ai 4
1,12/12/21,22:25,Testys removed +234 909 987 0130,Testys,+234 909 987 0130
2,12/12/21,22:25,Testys removed +234 912 400 4325,Testys,+234 912 400 4325
3,12/12/21,22:26,Testys removed Bolarinwa,Testys,Bolarinwa
4,12/12/21,22:26,Testys removed +234 903 442 2808,Testys,+234 903 442 2808
5,12/12/21,22:26,Testys removed +234 906 960 0339,Testys,+234 906 960 0339
6,12/12/21,22:26,Testys removed +234 908 679 7871,Testys,+234 908 679 7871
7,12/12/21,22:26,Testys removed +234 906 458 8083,Testys,+234 906 458 8083
8,12/12/21,22:26,Testys removed +234 906 089 4766,Testys,+234 906 089 4766
9,12/12/21,22:26,Testys removed +234 903 628 7406,Testys,+234 903 628 7406
10,12/12/21,22:26,Testys removed +234 903 058 8756,Testys,+234 903 058 8756
11,12/12/21,22:26,Testys removed +234 902 623 2216,Testys,+234 902 623 2216
12,12/12/21,22:26,Testys removed +234 901 236 3346,Testys,+234 901 236 3346
13,12/12/21,22:26,Testys removed +234 817 912 0615,Testys,+234 817 912 0615
14,12/12/21,22:26,Testys removed +234 816 455 5908,Testys,+234 816 455 5908
15,12/12/21,22:27,Testys removed +234 816 430 7421,Testys,+234 816 430 7421
16,12/12/21,22:27,Testys removed +234 816 236 8248,Testys,+234 816 236 8248
17,12/12/21,22:27,Testys removed +234 902 907 0118,Testys,+234 902 907 0118
18,12/12/21,22:27,Testys removed +234 816 111 7718,Testys,+234 816 111 7718
19,12/12/21,22:27,Testys removed +234 814 977 6891,Testys,+234 814 977 6891
20,12/12/21,22:27,Testys removed +234 903 387 0624,Testys,+234 903 387 0624
21,12/12/21,22:27,Testys removed +234 906 094 2399,Testys,+234 906 094 2399
22,12/12/21,22:27,Testys removed +234 909 076 2502,Testys,+234 909 076 2502
23,12/12/21,22:27,Testys removed +234 814 596 2853,Testys,+234 814 596 2853
24,12/12/21,22:28,Testys removed +234 810 376 9973,Testys,+234 810 376 9973
25,12/12/21,22:28,Testys removed +234 810 598 4614,Testys,+234 810 598 4614
26,12/12/21,22:28,Testys removed +234 810 737 5994,Testys,+234 810 737 5994
27,12/12/21,22:29,Testys removed +234 811 272 5224,Testys,+234 811 272 5224
28,12/12/21,22:29,Testys removed Owusu,Testys,Owusu
29,12/12/21,22:29,Testys removed +234 807 684 8399,Testys,+234 807 684 8399
30,12/12/21,22:29,Testys removed +234 803 436 6411,Testys,+234 803 436 6411
31,12/12/21,22:29,Testys removed Shiloh,Testys,Shiloh
32,12/12/21,22:29,Testys removed +234 806 110 2005,Testys,+234 806 110 2005
33,12/12/21,22:29,Testys removed +234 703 793 0636,Testys,+234 703 793 0636
34,12/12/21,22:29,Testys removed +234 702 506 2961,Testys,+234 702 506 2961
35,12/12/21,22:29,Testys removed +234 701 499 7739,Testys,+234 701 499 7739
36,12/12/21,22:30,Testys removed +234 814 197 0286,Testys,+234 814 197 0286
37,12/12/21,22:30,Testys removed +234 814 826 6400,Testys,+234 814 826 6400
38,12/12/21,22:30,Testys removed +234 813 365 7612,Testys,+234 813 365 7612
39,12/12/21,22:30,Testys removed Ai 5,Testys,Ai 5
40,12/12/21,22:30,Testys removed +234 813 215 7321,Testys,+234 813 215 7321
41,12/12/21,22:30,Testys removed +234 813 740 4158,Testys,+234 813 740 4158
42,12/12/21,22:30,Testys removed +234 806 442 7860,Testys,+234 806 442 7860
43,12/12/21,22:30,Testys removed +234 802 405 7418,Testys,+234 802 405 7418
44,12/12/21,22:30,Testys removed +234 706 871 7355,Testys,+234 706 871 7355
45,12/12/21,22:31,Testys removed Alex1,Testys,Alex1
46,12/12/21,22:31,Testys removed +234 703 376 6110,Testys,+234 703 376 6110
47,12/12/21,22:31,Testys removed +234 706 438 2783,Testys,+234 706 438 2783
48,12/12/21,22:31,Testys removed +234 807 962 9551,Testys,+234 807 962 9551
49,12/12/21,22:31,Testys removed +234 813 060 1583,Testys,+234 813 060 1583
50,12/12/21,22:31,Testys removed Fortunate,Testys,Fortunate
51,12/12/21,22:31,Testys removed +234 706 173 3438,Testys,+234 706 173 3438
52,12/12/21,22:31,Testys removed +234 706 858 4791,Testys,+234 706 858 4791
53,12/12/21,22:31,Testys removed +234 813 905 8491,Testys,+234 813 905 8491
54,12/12/21,22:32,Testys removed +234 810 068 7159,Testys,+234 810 068 7159
55,5/25/22,11:18,Ghost Mac removed +234 909 909 7424,Ghost Mac,+234 909 909 7424

## Defining The Mask Function
This function masks all phone numbers by replacing the last 4 digits of all numbers with 'xxxx'

In [ ]:
def anonymize(number):
  try :
    if '+' in number:
      new_number  = number[:-4]
      new_number+= 'xxxx'
      return new_number
    else :
      return number
  except TypeError:
    return np.NaN

## Concatenating all **'Notification DataFrames'**

In [ ]:
added_df['action'] = 'added'

joined_df['action'] = 'joined'

removed_df['action'] = 'removed'

left_df['action'] = 'left'

notif_df = pd.concat([added_df,joined_df,removed_df,left_df])

,date,time,raw,By,Subject,action
0,10/5/21,17:23,Busayor added +234 912 400 4325,Busayor,+234 912 400 xxxx,added
1,10/20/21,11:09,Stevekola added +234 906 171 9719,Stevekola,+234 906 171 xxxx,added
2,10/23/21,20:21,Busayor added +234 706 608 5576,Busayor,+234 706 608 xxxx,added
3,10/27/21,13:23,Busayor added Simi_Ai,Busayor,Simi_Ai,added
4,11/2/21,20:32,Busayor added +234 812 974 1366,Busayor,+234 812 974 xxxx,added
...,...,...,...,...,...,...
4,6/23/22,14:00,+234 906 949 7776 left,NaN,+234 906 949 xxxx,left
5,10/12/22,08:55,+234 818 397 4059 left,NaN,+234 818 397 xxxx,left
6,11/9/22,20:40,Ⓙⓞⓢⓗ left,NaN,Ⓙⓞⓢⓗ,left
7,11/24/22,06:33,+234 905 859 6159 left,NaN,+234 905 859 xxxx,left
8,2/27/23,10:18,Steven Kolawole left,NaN,Steven Kolawole,left

## Masking **'Notif DF'** and Writing  to csv file

In [ ]:
notif_df['Subject'] = notif_df['Subject'].apply(anonymize)
notif_df['By'] = notif_df['By'].apply(anonymize)
notif_df.drop('raw', axis = 1).to_csv('notif_dsn_group.csv',index= False)
notif_df

## Extracting **'messages df'** and Writing to csv
The messages df contains info abouta all the messages sent in the group. The columns include:


*   Name: name or phone number of sender
*   Content: The content of the message
*   Hour: The hour the message was sent
*   Date: The day the message was sent
*  Time: Self explanatory
*  Letter_count: Number of characters in the message
*  Word_Count: Number of words in the message

In [ ]:
messages_df = extract_date_time(messages)
messages_df['name']= messages_df['raw'].apply(lambda x: x.split(':')[0])
messages_df['name'] = messages_df['name'].apply(anonymize)
messages_df['content']= messages_df['raw'].apply(lambda x: x.split(':',1)[1])
messages_df['content'] = messages_df['content'].apply(lambda x :x.replace("<Media omitted>", "media_file" ))
messages_df['hour']=messages_df['time'].apply(lambda row :int(row.split(':')[0]))
messages_df['Letter_Count'] = messages_df['content'].apply(lambda s : len(s))
messages_df['Word_Count'] = messages_df['content'].apply(lambda s : len(s.split(' ')))
messages_df.drop('raw', axis = 1).to_csv('/content/drive/MyDrive/message_dsn_group.csv',index=False)
messages_df

,date,time,raw,name,content
0,9/21/21,13:18,+234 810 095 7245: Hello there!!. Our first p...,+234 810 095 xxxx,Hello there!!. Our first paper review session...
1,9/21/21,18:24,Ghost Mac: <Media omitted>,Ghost Mac,media_file
2,9/21/21,19:53,"manny: My thoughts about it, is that the idea...",manny,"My thoughts about it, is that the idea is gre..."
3,9/21/21,19:55,+234 810 095 7245: (b). I remember seeing the...,+234 810 095 xxxx,(b). I remember seeing the demo with pigs las...
4,9/21/21,19:56,"+234 810 095 7245: Yh security concerns, yh?....",+234 810 095 xxxx,"Yh security concerns, yh?. It'll look like yo..."
...,...,...,...,...,...
8360,3/10/23,15:06,+234 805 077 1951: Thank you. I’ll try that,+234 805 077 xxxx,Thank you. I’ll try that
8361,3/10/23,15:08,Furqan Mte: my pleasure boss,Furqan Mte,my pleasure boss
8362,3/10/23,15:08,Furqan Mte: you can watch use YouTube as a gu...,Furqan Mte,you can watch use YouTube as a guide to open ...
8363,3/10/23,15:11,+234 805 077 1951: I think I have one sef… I’...,+234 805 077 xxxx,I think I have one sef… I’ll try it. . I was ...
8364,3/10/23,15:16,Furqan Mte: ohhh. you try it,Furqan Mte,ohhh. you try it